#practice01 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#2c2438, #1f1728);

  color: #fff;
  position: relative;
}
.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40rem;
  min-height: 30rem;
  padding: 2rem;
  border-radius: 6px;
  background: radial-gradient(
    circle at top,
    rgba(241, 210, 70, 0.98),
    rgba(250, 201, 103, 0.87)
  );
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
