:root {
  line-height: 1.5;
  font-weight: 400;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-size: 10px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background: linear-gradient(#2c2438, #1f1728);
  min-height: 100vh;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
}
.gap-10 {
  gap: 10px;
}
.center {
  text-align: center;
}
